<header class="header">
  <div class"social-header">
    <a class="socials not-email not-facebook not-twitter " href="https://www.instagram.com/rvdimir/"><img class="social-icons instagram" src="images/instagram.svg" alt=""></a>
    <a class="socials not-email not-facebook not-instagram" href="https://twitter.com/Rvdimir"><img class="social-icons twitter" src="images/twitter.svg" alt=""></a>
    <a class="socials not-email not-twitter not-instagram" href="https://www.facebook.com/radisart/"><img class="social-icons facebook" src="images/facebook.svg" alt=""></a>
    <a class="socials not-facebook not-twitter not-instagram" href="mailto:Radimirvkoch@gmail.com"><img class="social-icons email" src="images/email.svg" alt=""></a>
  </div>
  <p class="rvd">R V D</p>
</header>
<!-- TODO convert header to regular div to prevent scroll issues -->