<header class="header">
  <div class"social-header">
    <a class="socials not-email not-facebook not-twitter not-instagram" href="https://soundcloud.com/thewozen"><img class="social-icons soundcloud" src="images/soundcloud.svg"></a>
    <a class="socials not-email not-facebook not-twitter not-soundcloud" href="https://www.instagram.com/rvdimir/"><img class="social-icons instagram" src="images/instagram.svg"></a>
    <a class="socials not-email not-facebook not-instagram not-soundcloud" href="https://twitter.com/Rvdimir"><img class="social-icons twitter" src="images/twitter.svg"></a>
    <a class="socials not-email not-twitter not-instagram not-soundcloud" href="https://www.facebook.com/radisart/"><img class="social-icons facebook" src="images/facebook.svg"></a>
    <a class="socials not-facebook not-twitter not-instagram not-soundcloud" href="mailto:Radimirvkoch@gmail.com"><img class="social-icons email" src="images/email.svg"></a>
  </div>
  <p class="rvd">R V D</p>
</header>
<!-- TODO convert header to regular div to prevent scroll issues -->