<header class="header">
  <div class"social-header">
    <a class="socials instagram not-email not-facebook not-twitter " href="https://www.instagram.com/rvdimir/"><img class="social-icons" src="images/instagram.svg" alt=""></a>
    <a class="socials twitter not-email not-facebook not-instagram" href="https://twitter.com/RadVkoch"><img class="social-icons" src="images/twitter.svg" alt=""></a>
    <a class="socials facebook not-email not-twitter not-instagram" href="https://www.facebook.com/radisart/"><img class="social-icons" src="images/facebook.svg" alt=""></a>
    <a class="socials email not-facebook not-twitter not-instagram" href="mailto:Radimirvkoch@gmail.com"><img class="social-icons" src="images/email.svg" alt=""></a>
  </div>
  <p class="rvd">R V D</p>
</header>