<div id="navbar">
  <ul>
  <li><a href="/">home</a></li>
  <div style="display: inline;">|</div>
  <li><a href="/new-album">new album</a></li>
  <div style="display: inline;">|</div>
  <li><a href="/upload">upload images</a></li>
  </ul>
</div>