<div id="navbar">
  <ul>
  <li><a href="/">home</a></li>
  <div style="display: inline;">|</div>
  <li><a href="/new-album">new album</a></li>
  <div style="display: inline;">|</div>
  <li><a href="/upload">upload images</a></li>
  </ul>
  <form action="/logout" method="POST">
    <button type="update" value="user" class="btn btn-info" style="position: absolute; right: 0; top: 0; vertical-align: middle; margin: 5px; margin-right: 20em;">log out</button>
  </form>
</div>