<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body oncontextmenu="return false">
    <script type="text/javascript">
      $(document).ready(function() {
        $("#lightgallery").lightGallery();
      });
    </script>
    <div id="lightgallery">
      <a href="/uploads/19/16541122548_2428167c86_z.jpg">
        <img src="/uploads/19/16541122548_2428167c86_z.jpg" />
      </a>
      <a href="/uploads/19/16541122548_2428167c86_z.jpg">
        <img src="/uploads/19/16541122548_2428167c86_z.jpg" />
      </a>
    </div>
  </body>
</html>
