<!DOCTYPE html>
<html>
  <head>
    <title>Upload</title>
    <link rel='stylesheet' href='/stylesheets/upload.css' />
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/bootstrap.css" />
    <link rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="/stylesheets/bootstrap-theme.css" />
  </head>
  <body>
    <div class="wrapper">
      <h2 class="form-signin-heading" style="margin-bottom: .6em; text-align: center;">HEY!<br />Who let you in here?</h2>
      <a class="btn btn-default" style="margin-left: 9em" href="/">Retreat Back to Safety</a>
    </div>
  </body>
</html>
