<!DOCTYPE html>
<html>
  <head>
    <title>Upload</title>
    <link rel='stylesheet' href='/stylesheets/upload.css' />
    <link rel='stylesheet' href='/stylesheets/upload.css' />
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/bootstrap.css" />
    <link rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="/stylesheets/bootstrap-theme.css" />
  </head>
  <body>
    <div class="wrapper">
      <h2 class="form-signin-heading" style="margin-left: 2.4em; margin-bottom: .6em;">Woops, 404'd</h2>
    </div>
  </body>
</html>
