<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>

      <!-- TODO setup basic gallery  -->

    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
