<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <header class="header">
      <div class"social-header">
        <a class="socials" href="https://www.instagram.com/rvdimir/">I N S T A G R A M </a>
        <p class="socials">/</p>
        <a class="socials" href="https://twitter.com/RadVkoch">T W I T T E R </a>
        <p class="socials">/</p>
        <a class="socials" href="https://www.facebook.com/radisart/">F A C E B O O K </a>
        <p class="socials">/</p>
        <a class="socials" href="mailto:Radimirvkoch@gmail.com">E M A I L</a>
      </div>
    </header>
    <p class="rvd">R V D</p>
    <div class="container">
      <div class="album-cover">
        <img class="cover-image" src="https://mir-s3-cdn-cf.behance.net/projects/202/0883f143124287.Y3JvcCw0NTExLDM1MzAsMCwzMw.jpg" alt="">
         <!-- <h4 class="title">title</h4> -->
      </div>
      <div class="album-cover">
        <img class="cover-image" src="https://mir-s3-cdn-cf.behance.net/projects/202/0883f143124287.Y3JvcCw0NTExLDM1MzAsMCwzMw.jpg" alt="">
      </div>
      <div class="album-cover">
        <img class="cover-image" src="https://mir-s3-cdn-cf.behance.net/projects/202/0883f143124287.Y3JvcCw0NTExLDM1MzAsMCwzMw.jpg" alt="">
      </div>
      <div class="album-cover">
        <img class="cover-image" src="https://mir-s3-cdn-cf.behance.net/projects/202/0883f143124287.Y3JvcCw0NTExLDM1MzAsMCwzMw.jpg" alt="">
      </div>
      <div class="album-cover">
        <img class="cover-image" src="https://mir-s3-cdn-cf.behance.net/projects/202/0883f143124287.Y3JvcCw0NTExLDM1MzAsMCwzMw.jpg" alt="">
      </div>
      <div class="album-cover">
        <img class="cover-image" src="https://mir-s3-cdn-cf.behance.net/projects/202/0883f143124287.Y3JvcCw0NTExLDM1MzAsMCwzMw.jpg" alt="">
      </div>
    </div>
  </body>
</html>
