<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body class="home" oncontextmenu="return false">
    <script type="text/javascript">
      $(document).ready(function() {
        $("#lightgallery").lightGallery();
      });
    </script>
    <header class="header">
      <div class"social-header">
        <a class="socials" href="https://www.instagram.com/rvdimir/">I N S T A G R A M </a>
        <p class="socials">/</p>
        <a class="socials" href="https://twitter.com/RadVkoch">T W I T T E R </a>
        <p class="socials">/</p>
        <a class="socials" href="https://www.facebook.com/radisart/">F A C E B O O K </a>
        <p class="socials">/</p>
        <a class="socials" href="mailto:Radimirvkoch@gmail.com">E M A I L</a>
      </div>
      <p class="rvd">R V D</p>
    </header>
      <!-- TODO render album-covers, titles based on album data  -->
    <div class="container">
      <div id="lightgallery">
        <% albums.forEach((album, i) => { %>
          <% let album_id = album.id %>
          <!-- TODO change href link so it opens lightGallery album - link to image within an album  -->

          <a href="/uploads/19/16541122548_2428167c86_z.jpg">
            <div class="album-cover">
              <img class="cover-image" src="/uploads/19/16541122548_2428167c86_z.jpg" alt="">
              <h4 class="title"><%= album.title%></h4>
            </div>
          </a>
        <% }); %>
      </div>
    </div>
  </body>
</html>
