<!DOCTYPE html>
<html>
  <head>
    <title>Upload</title>
    <link rel='stylesheet' href='/stylesheets/upload.css' />
  </head>
  <body>
    <p>Please Login</p><br>
    <form action="/login" method="POST">
      <input type="username" name="username" placeholder="Username">
      <input type="password" name="password" placeholder="Password">
      <button type="update" value="email">Login</button>
    </form>
  </body>
</html>
