<!DOCTYPE html>
<html>
  <head>
    <title>New Album</title>
    <link rel='stylesheet' href='/stylesheets/upload.css' />
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/bootstrap.css" />
    <link rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="/stylesheets/bootstrap-theme.css" />
  </head>
  <body>

    <!-- Navbar -->
    <div id="navbar">
      <ul>
      <li><a href="/">Home</a></li>
      <div style="display: inline;">|</div>
      <li><a href="/new-album">New Album</a></li>
      <div style="display: inline;">|</div>
      <li><a href="/upload">Upload Images</a></li>
      </ul>
    </div>

    <div class="upload-form">
      <form action="" method="post" enctype="multipart/form-data">
        <h4 class="form-title">Create a New Album</h4>

        <div class="form-group">
          <label for="image">Image:</label>
          <input class="form-control" type="file" name="image" id="image" />
        </div>
        <div class="form-group">
          <label for="title">Album:</label>
          <select class="form-control" name="album" class="">
             <!-- For each album, render an <option> tag for the dropdown  -->
            <option disabled selected value> -- select an album -- </option>
            <option value="Album">Test Album</option>
            <option value="Album">Test Album 2</option>
          </select>
        </div>
        <div class="form-group">
          <label for="title">Title:</label>
          <input class="form-control" type="text" name="title" class="" />
        </div>
        <div class="form-group">
          <label for="description">Description:</label>
          <textarea class="form-control" id="input-description" name="description"></textarea><br />
        </div>
        <button class="btn btn-primary" type="submit" value="Submit">Upload</button>
      </form>
    </div>
  </body>
</html>
