<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
    <script>
      $(document).ready(function() {
        $('#lightGallery').lightGallery({
          showThumbByDefault:true,
          addClass:'showThumbByDefault'
        });
      });
    </script>
  </head>
  <body>
    <div id="lightgallery">
      <% albums.forEach(function(album, i) {
        let album_id = album.id; %>
        <a href="img/img1.jpg">
          <img src="img/thumb1.jpg" />
        </a>
      <% }); %>
    </div>
  </body>
</html>
