<!DOCTYPE html>
<html>
  <head>
    <title>Upload</title>
    <link rel='stylesheet' href='/stylesheets/upload.css' />
  </head>
  <body>
    <script>
      // Ghetto Authentication (uncomment when finished working)
      // let password = prompt("What's dat password boi?");
      // if (password !== "radimir12") {
      //   window.location.reload();
      // }
    </script>
    <div id="navbar">
      <ul>
      <li><a href="/">Home</a></li>
      <li><a href="">New Album</a></li>
      <li><a href="">Upload Images</a></li>
      </ul>
    </div>
    <h1>Upload</h1>
  </body>
</html>
