<!DOCTYPE html>
<html>
  <head>
    <title>Upload</title>
    <link rel='stylesheet' href='/stylesheets/upload.css' />
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/bootstrap.css" />
    <link rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="/stylesheets/bootstrap-theme.css" />
  </head>
  <body>

    <!-- Navbar -->
    <div id="navbar">
      <ul>
      <li><a href="/">home</a></li>
      <div style="display: inline;">|</div>
      <li><a href="/new-album">new album</a></li>
      <div style="display: inline;">|</div>
      <li><a href="/upload">upload images</a></li>
      </ul>
    </div>

    <div class="upload-form">
      <form action="" method="post" enctype="multipart/form-data">
        <h3 class="form-title">upload an image to an album</h3>

        <div class="form-group">
          <label for="image">image:</label>
          <input class="form-control" type="file" name="image" id="image" required />
        </div>
        <div class="form-group">
          <label for="title">album:</label>
          <select class="form-control" name="album" class="">
             <!-- For each album, render an <option> tag for the dropdown  -->
            <option disabled selected value> -- select an album -- </option>
            <option value="Album">Test Album</option>
            <option value="Album">Test Album 2</option>
          </select>
        </div>
        <div class="form-group">
          <label for="title">title:</label>
          <input class="form-control" type="text" name="title" class="" required />
        </div>
        <div class="form-group">
          <label for="description">description:</label>
          <textarea class="form-control" id="input-description" name="description"></textarea><br />
        </div>
        <button class="btn btn-primary" type="submit" style="width: 10em; margin-left: 18em" value="Submit">upload</button>
      </form>
    </div>
  </body>
</html>
