<!DOCTYPE html>
<html>
  <head>
    <title>Upload</title>
    <link rel='stylesheet' href='/stylesheets/upload.css' />
  </head>
  <body>

    <div id="navbar">
      <ul>
      <li><a href="/">Home</a></li>
      <li><a href="">New Album</a></li>
      <li><a href="">Upload Images</a></li>
      </ul>
    </div>
    <h1>Upload test</h1>
  </body>
</html>
