div.container {
  width: 100%;
  margin-left: 1.6em;
}

div.album-cover {
  background-color: black;
  border: 1.4px solid lightgray;
  height: 22em;
  width: 25em;
  margin: 2em 3em;
  display: inline-block;
  border-radius: 4px;
  padding: 1.7px;
  padding-bottom: 30px
}

h4.title {
  color: white;
  font-family: 'AUdimat-Regular';
  position: relative;
  left: 42%;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

img.cover-image {
  position: relative;
  float: left;
  width:  24.55em;
  /* height: 100px; */
  background-position: 50% 50%;
  background-repeat:   no-repeat;
  background-size:     cover;
  /* height: 100%; */
  border-radius: 2px 2px 0 0;
}

body {
  padding: 30px;
  margin: 0 auto;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /* TODO make background image work  */
  background-image: url(../public/images/background.png);
}

a, p {
  font-size: 1.4em;
  padding: 4px;
  font-family: 'AUdimat-Regular';
  text-decoration: none;
}

a {
  color: black !important;
  text-decoration: none !important;
}

header {
  margin: 0 auto;
  position: relative;
  left: 31.2%;
  display: inline;
}

.rvd {
  font-family: 'AUdimat-Regular';
  font-size: 4em;
  margin: 0 auto;
  display: block;
  width: 10%
}

.socials {
  color: black;
  display: inline;
  text-decoration: inherit;
}

@font-face {
    font-family: 'AUdimat-Regular';
    src:url('AUdimat-Regular.ttf.woff') format('woff'),
        url('AUdimat-Regular.ttf.svg#AUdimat-Regular') format('svg'),
        url('AUdimat-Regular.ttf.eot'),
        url('AUdimat-Regular.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}
