body.home {
  margin: 30px;
}

p a {
  z-index: 1 !important;
}

div {
  z-index: 2 !important;
}

div.container {
  width: 100%;
  margin-left: 1.6em;
  margin-top: 7em;
}

a.cover-link {
  display: inline-block;
}

/* TODO use JS to analyze the height of the images and apply certain CSS based on whether its a landscape or portait image */
/* Portrait images next max-width: 100% while landscape images need max-height: 100% */

div.album-cover {
  border: 1.4px solid lightgray;
  height: 18em;
  width: 25em;
  margin: 2em 3em;
  position: relative;
  overflow: hidden;
}

img.portrait {
  max-width:  100%;
  border-radius: 2px;
  border: 1px solid black;
  margin: auto;
  position: absolute;
  top: 0; right: -50%; bottom: 0; left: -50%;
}

img.landscape {
  max-height:  100%;
  border-radius: 2px;
  border: 1px solid black;
  margin: auto;
  position: absolute;
  top: 0; right: -50%; bottom: 0; left: -50%;
}

div.lg-cover {
  display: inline;
}

h4.title {
  color: black;
  font-family: 'AUdimat-Regular';
  position: relative;
  text-align: center;
  top: 5%;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  /* padding: 30px; */
  margin: 0 auto;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /* TODO make background image work  */
   background-image: url(../public/images/background.png);
}

 a.socials, p {
  font-size: 1.4em;
  padding: 4px;
  font-family: 'AUdimat-Regular';
  text-decoration: none;
}

a {
  color: black !important;
  text-decoration: none !important;
}

header {
  display: inline;
  left: 31.2%;
  margin: 0 auto;
  /* position: relative; */

  overflow: hidden;
  position: fixed;
  top: 4%;
}

.rvd {
  font-family: 'AUdimat-Regular';
  font-size: 4em;
  margin: 0 auto;
  margin-left: 3.4em;
  display: block;
  width: 100%
}

.socials {
  color: black;
   display: inline;
  text-decoration: inherit;
}

.social-header {
  background-color: white;
  width: 100%;
  z-index: 9998;

}

@font-face {
    font-family: 'AUdimat-Regular';
    src:url('AUdimat-Regular.ttf.woff') format('woff'),
        url('AUdimat-Regular.ttf.svg#AUdimat-Regular') format('svg'),
        url('AUdimat-Regular.ttf.eot'),
        url('AUdimat-Regular.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

/* TODO figure out why the navbar hover on the homepage isnt working */
.facebook:hover ~ .not-facebook {
  opacity: .5;
}

.instagram:hover ~ .not-instagram {
  opacity: .5;
}

.twitter:hover ~ .not-twitter {
  opacity: .5;
}

.email:hover ~ .not-email {
  opacity: .5;
}
