/* TODO style for response design - change all em measurements to percentages and do some media queries for mobile and tablet viewers */

body.home {
  margin: 30px;
}

p a {
  z-index: 1 !important;
}

div {
  z-index: 2 !important;
}

div.container {
  width: 100%;
  margin-left: .25em;
  margin-top: 7em;
}

a.cover-link {
  display: inline-block;
  margin: 2em 3em;
}

div.album-cover {
  height: 18em;
  width: 25em;
  position: relative;
  overflow: hidden;
}

img.portrait {
  width:  100%;
  border-radius: 2px;
  margin: auto;
  position: absolute;
  top: 0; right: -50%; bottom: 0; left: -50%;
}

img.landscape {
  height:  100%;
  border-radius: 2px;
  border: 1px solid black;
  margin: auto;
  position: absolute;
  top: 0; right: -50%; bottom: 0; left: -50%;
}

div.lg-cover {
  display: inline;
}

h4.title {
  color: black;
  font-family: 'AUdimat-Regular';
  position: relative;
  text-align: center;
  top: 5%;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  /* padding: 30px; */
  margin: 0 auto;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /* TODO make background image work  */
   background-image: url(../public/images/background.png);
}

 a.socials, p {
  font-size: 1.4em;
  padding: 4px;
  font-family: 'AUdimat-Regular';
  text-decoration: none;
}

a {
  color: black !important;
  text-decoration: none !important;
}

header {
  display: inline;
  left: 31.2%;
  margin: 0 auto;
  /* position: relative; */

  overflow: hidden;
  position: fixed;
  top: 4%;
}

.rvd {
  font-family: 'AUdimat-Regular';
  font-size: 4em;
  margin: 0 auto;
  margin-left: 3.4em;
  display: block;
  width: 100%
}

.socials {
  color: black;
   display: inline;
  text-decoration: inherit;
}

.social-header {
  background-color: white;
  width: 100%;
  z-index: 9998;

}

@font-face {
    font-family: 'AUdimat-Regular';
    src:url('AUdimat-Regular.ttf.woff') format('woff'),
        url('AUdimat-Regular.ttf.svg#AUdimat-Regular') format('svg'),
        url('AUdimat-Regular.ttf.eot'),
        url('AUdimat-Regular.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}
