.form-title {
  text-align: center;
}

#navbar {
  background-color: #bbecf9;
  margin: 0 auto;
  /* margin-top: 1em; */
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  border-radius: 0 0 5px 5px;
  width: 60em;
}

#navbar ul {
  margin: 0;
  padding: 5px;
  list-style-type: none;
  text-align: center;
  font-size: 1.5em;
}

#navbar ul li {
  display: inline;
}

#navbar ul li a {
  text-decoration: none;
  padding: .2em 1em;
  color: black;
}

 #navbar ul li a:hover {
  color: #2f6fd6;
}

button.delete {
  border-radius: 2em;
  display: inline;
  position: absolute;
}

.upload-form {
  width: 50em;
  margin: 0 auto;
  margin-top: 5em;
  background: whitesmoke;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 30px;
  -moz-box-shadow:    3px 3px 3px 3px rgba(211,211,211,.3);
  -webkit-box-shadow: 3px 3px 3px 3px rgba(211,211,211,.3);
  box-shadow:         3px 3px 3px 3px rgba(211,211,211,.3);
}

div.edit {
  margin: 3em .5em .5em .5em;
}

div.edit-image {
  background-color: whitesmoke;
  border: 1px solid lightgrey;
  border-radius: 5px;
  margin: 1% 15%;
  padding: 1em;
}

h2.edit-album-title {
  margin-left: 46%;
}

h4.edit-album-title {
  margin-left: 44%;
  padding-bottom: 1em;
}

small.edit-album-title {
  margin-left: 33%;
}

img.edit {
  border-radius: 3px;
  display: inline;
  margin-left: 1em;
  width: 10em;
}

#input-description {
  height: 8em;
  resize: none;
}

@import "bourbon";

body {
	background: #eee !important;
}

.wrapper {
	margin-top: 80px;
  margin-bottom: 80px;
  width: 35em;
  margin: 0 auto;
  margin-top: 5em;
  background: white;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 30px;
}

.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;

  .form-signin-heading,
	.checkbox {
    margin-bottom: 30px;
	}

	.checkbox {
	  font-weight: normal;
	}

	.form-control {
	  position: relative;
	  font-size: 16px;
	  height: auto;
	  padding: 10px;
		@include box-sizing(border-box);

		&:focus {
		  z-index: 2;
		}
	}

	input[type="text"] {
	  margin-bottom: -1px;
	  border-bottom-left-radius: 0;
	  border-bottom-right-radius: 0;
	}

	input[type="password"] {
	  margin-bottom: 20px;
	  border-top-left-radius: 0;
	  border-top-right-radius: 0;
	}
}

@font-face {
    font-family: 'AUdimat-Regular';
    src:url('AUdimat-Regular.ttf.woff') format('woff'),
        url('AUdimat-Regular.ttf.svg#AUdimat-Regular') format('svg'),
        url('AUdimat-Regular.ttf.eot'),
        url('AUdimat-Regular.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}
